<h1>Inscrições <small><i>(<%= h @clientes.size %>)</i></small></h1>
<h1>Dia 8</h1>
<h2>Total de adultos: <span style="color:black"><%=
  h (@clientes.select { |c| [1,2,3].include? c.tipo }).map { |c| c.nr_de_convidados_adultos}.sum  
%></small></h2>
<h2>Total de adultos com alojamento: <span style="color:black"><%=
  h (@clientes.select { |c| [1,2,3].include? c.tipo }).map { |c| c.nr_de_convidados_adultos_alojamento}.sum  
%></small></h2>
<h2>Total de Crianças: <span style="color:black"><%=
  h (@clientes.select { |c| [1,2,3].include? c.tipo }).map { |c| c.nr_de_convidados_nao_adultos}.sum  
%></h2>
<h2>Total de crianças com alojamento: <span style="color:black"><%=
  h (@clientes.select { |c| [1,2,3].include? c.tipo }).map { |c| c.nr_de_convidados_nao_adultos_alojamento}.sum  
%></small></h2>
<h2>Total de transportes para Lisboa: <span style="color:black"><%=
  h (@clientes.select { |c| [1,2,3].include? c.tipo }).map { |c| c.nr_de_convidados_transporte "Lisboa"}.sum  
%></small></h2>
<h2>Total de transportes para Faro: <span style="color:black"><%=
  h (@clientes.select { |c| [1,2,3].include? c.tipo }).map { |c| c.nr_de_convidados_transporte "Faro"}.sum  
%></small></h2>
<h2>Total de transportes para Viseu: <span style="color:black"><%=
  h (@clientes.select { |c| [1,2,3].include? c.tipo }).map { |c| c.nr_de_convidados_transporte "Viseu"}.sum  
%></small></h2>
<h2>Total de transportes para Bragança: <span style="color:black"><%=
  h (@clientes.select { |c| [1,2,3].include? c.tipo }).map { |c| c.nr_de_convidados_transporte "Bragança"}.sum  
%></small></h2>

<h1>Dia 9</h1>
<h2>Total de adultos: <span style="color:black"><%=
  h (@clientes.select { |c| [4,5,6].include? c.tipo }).map { |c| c.nr_de_convidados_adultos}.sum  
%></small></h2>
<h2>Total de adultos com alojamento: <span style="color:black"><%=
  h (@clientes.select { |c| [4,5,6].include? c.tipo }).map { |c| c.nr_de_convidados_adultos_alojamento}.sum  
%></small></h2>
<h2>Total de Crianças: <span style="color:black"><%=
  h (@clientes.select { |c| [4,5,6].include? c.tipo }).map { |c| c.nr_de_convidados_nao_adultos}.sum  
%></h2>
<h2>Total de crianças com alojamento: <span style="color:black"><%=
  h (@clientes.select { |c| [4,5,6].include? c.tipo }).map { |c| c.nr_de_convidados_nao_adultos_alojamento}.sum  
%></small></h2>
<h2>Total de transportes para Lisboa: <span style="color:black"><%=
  h (@clientes.select { |c| [4,5,6].include? c.tipo }).map { |c| c.nr_de_convidados_transporte "Lisboa"}.sum  
%></small></h2>
<h2>Total de transportes para Faro: <span style="color:black"><%=
  h (@clientes.select { |c| [4,5,6].include? c.tipo }).map { |c| c.nr_de_convidados_transporte "Faro"}.sum  
%></small></h2>
<h2>Total de transportes para Viseu: <span style="color:black"><%=
  h (@clientes.select { |c| [4,5,6].include? c.tipo }).map { |c| c.nr_de_convidados_transporte "Viseu"}.sum  
%></small></h2>
<h2>Total de transportes para Bragança: <span style="color:black"><%=
  h (@clientes.select { |c| [4,5,6].include? c.tipo }).map { |c| c.nr_de_convidados_transporte "Bragança"}.sum  
%></small></h2>

<table width=100%>
  <tr>
    <th>Id</th>
    <th>Tipo</th>
    <th>Loja</th>
    <th>Cliente</th>
    <th>Nome</th>
    <th>Telemovel</th>
    <th>Adultos</th>
    <th>Criancas</th>
    <th>Transporte</th>
    <th>Alojamento</th>
    <th></th>
  </tr>
  
  <% i = false %>
  <% for cliente in @clientes %>
    <tr <% if !cliente.aux.blank? %>bgcolor=#ff3366<%elsif i %>bgcolor=#dddddd<% end %>><%i=(not i)%>
      <td><%=h cliente.id %></td>
      <td><%=h cliente.tipo %></td>

      <td><%=h cliente.numero_agencia %></td>
      <td><%=h cliente.numero_cliente %></td>

      <td><%=h cliente.nome %></td>
      <td><%=h cliente.telemovel %></td>

      <td><%=h cliente.nr_de_convidados_adultos%></td>	  
      <td><%=h cliente.nr_de_convidados_nao_adultos%></td>
      <td><%=h cliente.nr_de_convidados_transporte_all%></td>    
      <td><%=h cliente.nr_de_convidados_alojamento%></td>

      <td>
        <%= link_to 'Editar', edit_cliente_path(cliente) %>
        <%= link_to 'Apagar', cliente_path(cliente), :confirm => 'Tem a certeza?', :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to "Ver Convidados", convidados_path %> |
  <%= link_to "Download CSV", clientes_path(:format=>:csv) %>
</p> 
